/* Define CSS variables for common values */
:root {
  --color-light: rgb(247, 247, 247);
  --color-light-2: whitesmoke;
  --color-transparent-light: rgba(0, 0, 0, 0.171);
  --color-dark: rgb(20, 20, 20);
  --color-dark-2: rgb(31, 31, 31);
  --color-transparent-dark: rgba(0, 0, 0, 0.185);
  --color-gray: rgb(170, 170, 170);
  --color-gray-2: rgb(167, 167, 167);
  --color-dark-gray: rgb(71, 71, 71); 
  --color-white: white;
  --color-black: rgb(0, 0, 0);
  --border-radius: 40px;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.178);
  --transition: 0.4s;
  --transition-2: 0.6s;
}

/* Reset default styles */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
}

/* General styles */
i {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  display: none;
}

main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

main * {
  transform-style: preserve-3d;
}

/* Startscreen styles */
.startscreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  transition: 0.6s;
}

.startscreen label {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 50px;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: white;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0);
  animation: pulse linear infinite 1.5s 4s;
}

.startscreen label:hover {
  background: #000;
  color: white;
}

@keyframes pulse {
  50% {
    border: solid 1px black;
  }
  100% {
    border: solid 1px rgba(0, 0, 0, 0);
  }
}

#Intro_Animation:checked ~ main .startscreen {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

#firstView:checked ~ main .startscreen {
  opacity: 1;
  visibility: visible;
}

#Intro_Animation:checked ~ main .Phone {
  animation: intro ease 10s;
}

/* iPad container styles */
.iPadContainer {
  width: 100%;
  height: 100vh;
  perspective: 2000px;
}

.iPadContainer .viewcontrols {
  border-radius: 25px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  position: absolute;
  transition: var(--transition);
}

.iPadContainer .viewcontrols > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: rgb(31, 31, 31);
  transition: var(--transition);
  border: rgba(0, 0, 0, 0) 1px solid;
}

.iPadContainer .viewcontrols > label:hover {
  border: #000 1px solid;
}

@media screen and (max-width: 540px) {
  .iPadContainer .viewcontrols {
    width: 300px;
    height: 50px;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    background: var(--color-light);
    z-index: 3;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 540px) {
  .iPadContainer .viewcontrols {
    width: 50px;
    height: 300px;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.iPadContainer .Phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(-800px);
  transition: var(--transition);
}

@media screen and (max-width: 768px) {
  .iPadContainer .Phone {
    width: 400px;
    height: 800px;
  }
}

@media screen and (min-width: 768px) {
  .iPadContainer .Phone {
    width: 90vw;
    height: 55vw;
  }
}

.iPadContainer .Phone .PhoneFront, .iPadContainer .Phone .PhoneBack {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
}

.iPadContainer .Phone .PhoneFront {
  transform: translatez(20px);
  background: var(--color-dark);
}

.iPadContainer .Phone .PhoneFront .screen {
  width: 93%;
  height: 96%;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(143, 143, 143);
}

.iPadContainer .Phone .PhoneFront .topBar {
  width: 45%;
  height: 6%;
  background: var(--color-dark);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translate(-50%);
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .iPadContainer .Phone .PhoneFront .topBar {
    display: none;
  }
}

.iPadContainer .Phone .PhoneFront .topBar .camera {
  width: 12px;
  height: 12px;
  background: rgb(43, 43, 43);
  border-radius: 50%;
}

.iPadContainer .Phone .PhoneFront .topBar .camera .lenz {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: rgb(0, 0, 63);
}

.iPadContainer .Phone .PhoneFront .topBar .speaker {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background: rgb(36, 36, 36);
}

.iPadContainer .Phone .PhoneBack {
  transform: translateZ(-20px) rotateY(180deg);
  background: rgb(60, 60, 60);
  background: linear-gradient(338deg, rgb(60, 60, 60) 0%, rgb(0, 0, 0) 100%);
}

.iPadContainer .Phone .PhoneBack .Applelogo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.iPadContainer .Phone .PhoneBack .cameraSection {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  transform: translateZ(5px);
}

@media screen and (min-width: 768px) {
  .iPadContainer .Phone .PhoneBack .cameraSection {
    display: none;
  }
}

.iPadContainer .Phone .PhoneBack .cameraSection .cameraSides {
  position: absolute;
  background: rgb(53, 53, 53);
  border: solid 2px rgb(49, 49, 49);
  border-radius: 50%;
}

.iPadContainer .Phone .PhoneBack .cameraSection .cameraSides:first-of-type {
  width: 80px;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iPadContainer .Phone .PhoneBack .cameraSection .cameraSides:last-of-type {
  width: 48px;
  height: 48px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Rotate animations */
.iPadContainer .Phone.intro_rotate_left {
  animation: intro_rotate_left ease 4s 0s forwards;
}

.iPadContainer .Phone.intro_rotate_right {
  animation: intro_rotate_right ease 4s 0s forwards;
}

@keyframes intro_rotate_left {
  from {
    transform: rotateY(90deg) translateZ(-800px);
  }
  to {
    transform: rotateY(0deg) translateZ(-800px);
  }
}

@keyframes intro_rotate_right {
  from {
    transform: rotateY(-90deg) translateZ(-800px);
  }
  to {
    transform: rotateY(0deg) translateZ(-800px);
  }
}
  
/* Here */
  
#topView:checked ~ main .Phone {
  transform: translate(-50%, -50%) translateZ(-800px) rotateX(-35deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
  transition: var(--transition-2);
}

#topView:checked ~ main .viewcontrols > label:nth-child(1),
#rightView:checked ~ main .viewcontrols > label:nth-child(2),
#leftView:checked ~ main .viewcontrols > label:nth-child(3),
#behindView:checked ~ main .viewcontrols > label:nth-child(6),
#frontView:checked ~ main .viewcontrols > label:nth-child(5),
#bottomView:checked ~ main .viewcontrols > label:nth-child(4) {
  background: var(--color-dark-2);
  color: var(--color-light-2);
}

#rightView:checked ~ main .Phone {
  transform: translate(-50%, -50%) translateZ(-800px) rotateX(0deg) rotateY(-35deg) rotateZ(0deg) translateY(0px);
  transition: var(--transition-2);
}

#bottomView:checked ~ main .Phone {
  transform: translate(-50%, -50%) translateZ(-800px) rotateX(35deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
  transition: var(--transition-2);
}

#leftView:checked ~ main .Phone {
  transform: translate(-50%, -50%) translateZ(-800px) rotateX(0deg) rotateY(35deg) rotateZ(0deg) translateY(0px);
  transition: var(--transition-2);
}

#behindView:checked ~ main .Phone {
  transform: translate(-50%, -50%) translateZ(-800px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateY(0px);
  transition: var(--transition-2);
}

#frontView:checked ~ main .Phone {
  transform: translate(-50%, -50%) translateZ(-800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
  transition: var(--transition-2);
}

#power:active ~ main .Phone .powerbtn {
  transform: translateX(-50%) translateZ(1px) rotateX(0deg);
}

#power:checked ~ main .Phone .off {
  opacity: 1;
  z-index: 4;
}

#power:checked ~ main .Phone #volumeup:active ~ main .Phone .volumbtn {
  transform: translateX(-50%) translateZ(5px) rotateX(2deg);
}

#volumedown:active ~ main .Phone .volumbtn {
  transform: translateX(-50%) translateZ(5px) rotateX(-2deg);
}

#volumeup:checked ~ main .volind {
  animation: popout 4s forwards;
}

#volumeup:checked ~ main .outervol {
  transform: translate(-330px, -50%);
}

#volumeup:checked ~ main .volind > .bar {
  top: 25%;
}

#volumedown:checked ~ main .volind {
  animation: popout2 4s forwards;
}

#volumedown:checked ~ main .outervol {
  transform: translate(-330px, -50%);
}

#volumedown:checked ~ main .volind > .bar {
  top: 75%;
}

@keyframes popout {
  0% {
    transform: translate(0px);
  }
  90% {
    transform: translate(0px);
  }
  100% {
    transform: translate(300px);
  }
}

@keyframes popout2 {
  0% {
    transform: translate(0px);
  }
  90% {
    transform: translate(0px);
  }
  100% {
    transform: translate(300px);
  }
}

.screen {
  transform-style: flat;
}

.screen * {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.screen .notifbar {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-white);
  z-index: 3;
  font-size: 20px;
}

.screen .notifbar > * {
  margin: 3px;
  width: fit-content;
  height: fit-content;
  transform: translate(-3px);
}

.screen .notifbar i {
  width: fit-content;
  height: fit-content;
}

.screen .monitor {
  overflow: hidden;
}

.screen .monitor .outervol {
  overflow: visible;
  position: absolute;
  width: 50px;
  height: 50%;
  right: -300px;
  top: 50%;
  transform: translate(0px, -50%);
  transition: 1s;
}

.screen .monitor .outervol .volind {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--color-dark-gray);
  transform: translate(0px);
  color: var(--color-white);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-2);
}

.screen .monitor .outervol .volind i {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen .monitor .outervol .volind .bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-gray-2);
  border-radius: 0px;
  top: 0;
  transition: var(--transition);
}

.screen .monitor .off {
  background: var(--color-black);
  opacity: 0;
  z-index: -1;
  transition: opacity var(--transition-2);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.screen .monitor .homebtn {
  width: 200px;
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  background: var(--color-gray);
  cursor: not-allowed;
}

.screen .monitor .lock {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: var(--color-white);
  font-size: 30px;
  top: 40px;
}

@media screen and (min-width: 768px) {
  .screen .monitor .lock {
    top: 10px;
  }
}

.screen .monitor .bottomshrts {
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  color: var(--color-light);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.screen .monitor .bottomshrts > div {
  width: 50px;
  height: 50px;
}

.screen .monitor .bottomshrts i {
  width: 50px;
  height: 50px;
  background: rgba(43, 43, 43, 0.247);
}

.screen .monitor .lockscreen {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  .screen .monitor .lockscreen {
    background-image: url(assets/iphonbg.webp);
  }
}

@media screen and (min-width: 768px) {
  .screen .monitor .lockscreen {
    background-image: url(assets/ipadbgG.png);
  }
}

.screen .monitor .lockscreen .clock {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: var(--color-light-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .screen .monitor .lockscreen .clock {
    width: 80%;
    height: 20%;
    top: 10%;
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) {
  .screen .monitor .lockscreen .clock {
    width: 80%;
    height: 20%;
    top: 13%;
    font-size: 80px;
  }
}

.screen .monitor .lockscreen .notifications {
  width: 90%;
  height: fit-content;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: var(--color-transparent-dark);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .screen .monitor .lockscreen .notifications {
    top: 28%;
  }
}

@media screen and (min-width: 768px) {
  .screen .monitor .lockscreen .notifications {
    top: 30%;
  }
}

.screen .monitor .lockscreen .notifications a {
  width: 98%;
  color: var(--color-white);
  height: fit-content;
  background: var(--color-transparent-light);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  cursor: pointer;
}

.screen .monitor .lockscreen .notifications a figure {
  width: fit-content;
  height: fit-content;
}

.screen .monitor .lockscreen .notifications a h3 {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .screen .monitor .lockscreen .notifications a h3 {
    width: 90%;
  }
}

.screen .monitor .lockscreen .notifications a img {
  width: 35px;
  height: 35px;
}

.screen .monitor .lockscreen .notifications a p {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.screen .monitor .lockscreen .notifications a p i {
  width: fit-content;
  height: fit-content;
  margin: 0px 3px;
}

#firstView:checked ~ main .viewcontrols {
  visibility: hidden;
}

#Intro_Animation:checked ~ main .viewcontrols {
  animation: fadein 12s ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    transform: translate(-50%, -50%) translateZ(800px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  50% {
    transform: translate(-50%, -50%) translateZ(0px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  100% {
    transform: translate(-50%, -50%) translateZ(-800px) rotateX(360deg) rotateY(755deg) rotateZ(0deg) translateY(0px);
  }
}