@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  background-color: #DFDCD8;
  font-family: kanit;
}

/* Format for all pages -------------------------------------------------------------*/

.container {
  margin: 0 auto;
  max-width: 72rem;
}

/* Nav Bar --------------------------------------------------------------------------*/

.NavBar {
  margin: 0 177px;
  padding: 20px 50px;
}

ul {
  list-style: none;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

ul li {
  padding: 20px 30px 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
ul li:hover {
  color: #fff;
  transition: .6s;
}
ul li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background: #949978;
  bottom: 0;
  scale: 0 1;
  transition: .3s, translate 0s .3s;
}
ul:hover li:before {
  scale: 1;
}
ul li:hover:before {
  translate: 0;
  transition: .3s;
}
ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: .2s .2s,scale 0s .4s;
}
ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: .2s .2s,scale 0s .4s;
}

/* Home Page --------------------------------------------------------------------------*/

/* Background */

.rock1 {
  object-position: center;
  width: 1005px;
  height: 770px;
  z-index: -2;
  position: absolute;
  margin: 650px -150px;
}

.rock2{
  object-position: center;
  width: 465px;
  height: 422px;
  z-index: -1;
  position: absolute;
  margin: 400px -50px;
}

.rock3 {
  object-position: center; 
  width: 300px;
  height: 255px;
  z-index: -1;
  position: absolute;
  margin: 1180px 625px;
}

/* Home */

.whyUs {
  display: flex;
  width: 100%;
  background-color: rgba(84, 48, 25, 25%)
}