@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  background-color: #DFDCD8;
  font-family: kanit;
}

/* Format for all pages -------------------------------------------------------------*/

.container {
  margin: 0 auto;
  max-width: 72rem;
}

/* Nav Bar --------------------------------------------------------------------------*/

.NavBar {
  margin: 0 177px;
  padding: 20px 50px;
  z-index: auto;
}

ul {
  list-style: none;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

ul li {
  padding: 20px 30px 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
ul li:hover {
  color: #fff;
  transition: .6s;
}
ul li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background: #949978;
  bottom: 0;
  scale: 0 1;
  transition: .3s, translate 0s .3s;
}
ul:hover li:before {
  scale: 1;
}
ul li:hover:before {
  translate: 0;
  transition: .3s;
}
ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: .2s .2s,scale 0s .4s;
}
ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: .2s .2s,scale 0s .4s;
}

/* Home Page --------------------------------------------------------------------------*/

/* Background */

.rock1 {
  object-position: center;
  width: 955px;
  height: 720px;
  z-index: -2;
  position: absolute;
  margin: 550px 0;
}

.rock2{
  object-position: center;
  width: 465px;
  height: 422px;
  z-index: -1;
  position: absolute;
  margin: 300px 100px;
}

.rock3 {
  object-position: center; 
  width: 300px;
  height: 255px;
  z-index: -1;
  position: absolute;
  margin: 1080px 775px;
}

/* Home Content */

.whyUs {
  display: flex;
  /* width: 921.6px; */
  align-items: center;
  background-color: rgba(84, 48, 25, 25%)
}

/* Offers -------------------------------------------------------------------------- */

.pg2rock {
  display: flex;
  z-index: -1;
  width: 1160px;
  height: 1140px;
  position: absolute;
  align-self: center;
  margin-top: 6rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 11.2rem;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.card-deck {
  margin: 0 0 7rem;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  transition: all .2s ease-in-out;
}

.card-deck:hover {
  transform: scale(1.1);
}

.card {
  max-width: 398px;
  max-height: 450px;
  position: relative;
  margin: 0 2rem;
}



.imgWrapper {
  height: 100%;
  transform: scale(1);
  transition: all .5 ease;
  width: 100;
  filter: grayscale(50%);
  transition: all .2s ease-in-out;
}

.imgWrapper:hover {
  filter: grayscale(0%);
}

.book {
  background-color: white;
  position: absolute;
  text-transform: uppercase;
  padding: .5rem 1rem;
  bottom: 5%;
  left: 5%;
}

.adjectives {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  opacity: .35;
  padding-top: 0.5rem;
}

.classType {
  font-size: 50px;
}

/* Reviews ------------------------------------------------------------------ */
 
.portalsContainer {
  display:flex;
  flex-wrap: wrap;

}

.portals {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* border-radius: 50%; */
 }